#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.movie-item {
  width: 200px;
  cursor: pointer;
}

.movie-item img {
  width: 100%;
}

.movie-details {
  margin-top: 20px;
}

.pagination {
  margin: 20px;
}
